<div class="main-container">
  <nav>
      <div class="nav-container">
          <div class="logo">iSave</div>
      <ul class="hide">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
      <button style="width: auto;"  class="menu">
          <div class="line"></div>
          <div style="margin-top: 4px;" class="line"></div>
          <div style="margin-top: 4px;"  class="line"></div>
      </button>
      </div>
  </nav>
  <h1 >Download Videos from YouTube</h1>
  <div class="form-container">

      <form [formGroup]="youtubeForm" (ngSubmit)="onSubmit()">
              <input type="text" name="url" formControlName="url" placeholder="Paste youtube video url here to download">
          <div>
              <button  class="btn" type="submit">Search</button>
          </div>
      </form>
  </div>
  <div *ngIf="loading" class="loader"></div>
  <section *ngIf="results" class="results">
      <div class="results-container">
          <div class="result">
            <iframe
              [src]="video.iframeUrl | safe:'resourceUrl'">
              </iframe >
              <!-- <img src="../assets/vlcsnap-2021-07-18-17h03m01s836.png" [alt]="video.title"> -->
              <div class="video-details">
                  <div class="result-title">{{ video.title }}</div>

                  <div class="selection">
                    <select [(ngModel)]="selectedQuality.qualityLabel" id="quality">
                      select
                      <option  *ngFor="let quality of video.formarts; let i = index" [value]="video.formarts[i].qualityLabel"> {{video.formarts[i].qualityLabel}} </option>
                    </select>
                    <button class="btn" (click)="getVideo()">Download</button>
                  </div>
                  <div class="default">{{ selectedQuality.qualityLabel }}</div>
              </div>
          </div>

      </div>
  </section>
  <section class="about">
    <h3>YouTube Video Downloader</h3>
    <p>iSave allows you to convert and download videos from YouTube. You can easly download for free thousands of videos from youtube. This website doesn't have ads.</p>
  </section>
  <section class="about">
    <h3>Features</h3>
    <ul>
      <li>Unlimited Dowwnloads</li>
      <li>FREE </li>
      <li>Installable on android and IOS</li>
      <li>Available offline</li>
      <li>No Registration Required</li>
      <li>Supports all format</li>
    </ul>
  </section>
</div>

<div *ngIf="downloading" class="progress">
  <div class="text">Downloading : {{ progress }}</div>
  <div *ngIf="totalAvailable"  class="progress-container">
    <div style="width: 54%;" class="progress-value">{{progressPercentage}}</div>
  </div>

</div>

<footer> @2021 | by
  <a href="yuridigital.com">YuriDigital</a>
</footer>

