  <nav>
      <div class="nav-container">
        <div class="logo-area">
          <img src="../../assets/isave logo.svg" alt="">
         <div class="logo">iSave</div>
        </div>
        <ul class="hide">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      <button (click)="toggleMenu()" aria-label="menu" style="width: auto;"  class="menu">
          <div class="line"></div>
          <div style="margin-top: 4px;" class="line"></div>
          <div style="margin-top: 4px;"  class="line"></div>
      </button>
      </div>
  </nav>
  <div *ngIf="showMenu" class="mobile-menu">
    <div><a href="#about">About</a></div>
    <div><a href="#contact">Contact</a></div>
  </div>
