/* You can add global styles to this file, and also import other style files */
*{
  margin: none;
  padding: none;
}
.download-progress{
  text-align: center;
  color: white;
  position: absolute;
  position: fixed;
  width: 100%;
  background-color: #2f3363;
  height: 78px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.192);
  box-sizing: border-box;
  }

  .download-progress-bar{
    width: 80%;
    background-color: #dbdbdb;
    height: 28px;
  }
  .met{
    padding: 0px 16px;
    text-align: center;
  }
  .download-progress-bar-value{
    background-color: #37b6fc;
    height: 28px;
    width: 70%;
  }

.logo img{
  object-fit: cover;
  height: 100%;
  object-fit: cover;

}
.itag{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  margin-bottom: 8px;

  .size{

  }

  .tag{

  }
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid hsl(360, 67%, 44%)
  ; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 24px;
}
.progress-loader{
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid hsl(360, 67%, 44%)
  ; /* Blue */
  border-radius: 50%;
  width: 8px;
  height: 8px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 24px;
}
.text{
  font-size: 16px;
  font-weight: 700;
}

.progress{
  position: fixed;
  width: 100vw;
  height: 84px;
  background-color: rgb(255, 255, 255);
  color: whitesmoke;
  bottom: 0px;
  right: 0px;
  left: 0px;
  // box-shadow: -3px -2px 6px 0px #00000013;
  // padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  color: black;
  padding: 0px 18px;
  border-top: 1px solid #e9e8e8;

}
.progress .text{
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #2f3363;
}
.progress-container{
  width: 100%;
  background-color: #37b6fc;
  height: 24px;
}
.progress-value{
  background-color: hsl(360, 67%, 44%)
  ;
  height: 100%;
  color: #fff;
  text-align: center;
}

progress{
  width: 100%;
  // border:0;
  // height: 18px;
  // border-radius: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eceff4;
}
a{
  text-decoration: none;
  color: hsl(360, 67%, 44%);
}
.brand{
  color: hsl(360, 67%, 44%)  ;
}
nav{
  display: flex;
  justify-content: center;
  // background-color: #ffffff;
  background-color: hsl(360, 67%, 44%);
  height: 88px;
  border-bottom: 1px solid #dbdbdb69;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;

}
nav ul li{
  display: inline-block;

}
nav a{
  color: rgb(255, 255, 255)
  ;
  padding: 16px;
}
nav a:hover{
  color: #37b6fc;
}

.logo-area{
  display: flex;
  // justify-content: center;
  align-items: center;
}
.nav-container{
  width: 720px;
  display: flex;
  justify-content:space-between;
  padding: 0px 36px;
  align-items: center;
  overflow: hidden;

  img{
    height: 100%;
    object-fit: contain;
    width: 46px;
    margin-right: 6px;
  }
}
.logo{
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  // align-self: flex-start;
  justify-self: baseline;
}
.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;


}

.error{
  color: hsl(360, 67%, 44%)  ;
}
h1{
  margin-top: 122px;
  text-align: center;
  font-weight: 400;
  color: #102A43;
  margin-top: 130px;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 177px;
  font-size: 43px;

}
form{
  border: 1px solid #bb2525;
  // box-sizing: border-box;
  width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 36px;
  border-radius: 4px;

  .form-control{
    width: 100%;
  }

  .btn{
    margin-top: 0px;
  }

}

.result, .results, .results-container{
  box-sizing: border-box;
}
input{
  /* margin-top: 36px; */
  padding:22px 15px;
  border: none;
  // width: 544px;
  color: #41000c;
  flex-grow: 2;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 14px;
  width: 100%;
  outline: none;
}
button{
  padding: 16px;
  width: 136px;
  background-color: hsl(360, 67%, 44%)  ;
  color: rgb(253, 253, 253);
  border: none;
  /* margin: 16px; */
  font-weight: 600;
}
form button{
  padding: 23px;
  width: 136px;
  background-color: hsl(360, 67%, 44%) ;
  color: rgb(253, 253, 253);
  border: none;
  /* margin: 16px; */
  font-weight: 600;
  border-radius: 0px 0px 0px 0px;
}
.results-container{
  width: 720px;
  background-color: #ffffff;
  margin-top: 0px;
  // box-shadow: inset 0px 1px 5px #00000021;
}
.results{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}
.result{
  width: 100%;
  display: flex;
  margin: 16px 0;
  padding: 16px;
  padding-top: 0px;
}


button a{
  color: white;
  text-decoration: none;;
}
img, iframe{
  width: 320px;
}
h3,h2{
  text-align: center;
  color: hsl(360, 67%, 44%) ;
  text-transform: uppercase;
  font-weight: 500;
}

.video-details{
  padding: 16px;
  width: 100%;
}
.result-title{

  font-size: 18px;
  font-weight: 700;
}
.name{
  font-size: 14px;
}
.btn{
  margin: 0;
  /* margin-top: 12px; */
}
hr{
  border-color: #f1f1f1;
  border-width: 1px;
}
.default{
  font-size: 12px;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  color: rgb(252, 252, 252);
  background-color: hsl(360, 67%, 44%);

  width: 34px;
}
table{
  width: 100%;
  padding: 16px;
}
table button{
  padding: 6px;
  margin: 0px;
}
tr{

}
th,td{
  padding: 6px;
  text-align: left;

}
footer{
  margin-top: 18px;
  border-top: 1px solid rgb(236, 236, 236);
  text-align: center;
  padding: 18px;
  background-color: #bb2525;
  color: #ffffff;

  a{
    color: #98eaf5;
  }
}

label{
  height: max-content;
}
select{
  padding: 13px;
  font-size: 16px;
  margin-right: 16px;
  width: 120px;
}
.about{
  margin: 0 auto;
  margin-top: 36px;

  max-width: 500px;
  padding: 0px;
  box-sizing: border-box;
}
.menu{
  display: none;
}

.mobile-menu{
  display: none;
}


@media screen and (max-width: 720px){
  .results-container, form, .nav-container{
  width: 100%;
}
.mobile-menu{
  display: block;
  position: fixed;
  top: 75px;
  right: 0px;
  background-color: hsl(360, 67%, 44%);
  width: 200px;
  color: white;
  // box-sizing: border-box;
  box-shadow: -3px 3px 3px 0px #00000024;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;

  div{
    // height: 45px;
  }

  a{
    color: white;
    padding: 12px;
    display: block;
  }
}

.results-container, .results, .video-details, .result{
  box-sizing: border-box;
  font-size: 14px;
}
*{
  /* border: 1px solid red; */
}
button{
  padding: 8px;
  // height: 46px;
  display: inline-block;
}
img{
  height: 164px;
  object-fit: cover;
}
.result-title{
  font-size: 18px;
  font-weight: 700;
}
.default{
  padding: 3px 6px;
  font-size: 12px;
}
.results-container{
  background-color: #fff;
}
h1{
  margin-top: 177px;
}
form{
  display: flex;
  flex-direction: column;
  border:none;
  padding: 0px 16px;

  div{
    margin-top: 25px;
    width: 100%;

    button{
      width: 100%;
      padding: 22px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

input{
  width: 100%;
  border: 2px solid #bb2525;
  border-radius: 4px;
  font-weight: 600;
  background-color: white;
}
}

@media screen and (max-width: 664px){
  form button{
    width: 86px;
  }
  .nav-container{
    padding: 0px 16px;
  }

  .results-container{
    background-color: #fff;
  }
  .menu{
    display: inline-block;
    height: 36px;
    // border: 1px solid white;
    border-radius: 4px;
  }
  .line{
    background: rgb(237, 237, 237);
    display: block;
    width: 26px;
        height: 3px;
  }
  .hide{
    display: none;
  }
  form{
    // padding: 0px 36px;
    margin: 0px 16px;

  }
  nav{
    height: 74px;
  }
  nav a{
    font-size: 14px;
  }

  h1{
    font-size: 32px;
    font-weight: 400;
    padding: 16px;
    margin-top: 130px;
    text-transform: uppercase;
    font-weight: 700;

  }
  .about{
    padding: 16px;
    margin-top: 16px;
  }
  .result{
    flex-direction: column;
  }
  iframe{
    width: 100%;
    height: 360px;
    display: block;
    box-sizing: border-box;
  }
  img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    // padding: 0 36px;
    box-sizing: border-box;
  }
  .result{
    padding: 0px 16px;
  }
  select{
    display: inline-block;
    width: 120px;
  }
  .selection{
    margin-top: 16px;
  }
  p{
    font-size: 16px;
  }
  ul, li{
    font-size: 16px;
  }
}

@media screen and (max-width:420px) {

  .selection button{
    width: 125px;
  }
  iframe{
    height: 260px;
  }
  imh{
    height: 260px;
  }
  h1{
    line-height: 1;
    color: rgb(34, 34, 34);
  }
}

.btn-change{
  background-color: #41000c;
}
